Source: ros-kilted-flexbe-widget
Section: misc
Priority: optional
Maintainer: Philipp Schillinger <philsplus@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-kilted-ament-cmake, ros-kilted-ament-cmake-python, ros-kilted-ament-copyright <!nocheck>, ros-kilted-ament-flake8 <!nocheck>, ros-kilted-ament-pep257 <!nocheck>, ros-kilted-flexbe-core, ros-kilted-flexbe-mirror, ros-kilted-flexbe-msgs, ros-kilted-flexbe-onboard, ros-kilted-launch-ros, ros-kilted-rclpy, ros-kilted-ros-workspace
Homepage: http://ros.org/wiki/flexbe_core
Standards-Version: 3.9.2

Package: ros-kilted-flexbe-widget
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-flexbe-core, ros-kilted-flexbe-mirror, ros-kilted-flexbe-msgs, ros-kilted-flexbe-onboard, ros-kilted-launch-ros, ros-kilted-rclpy, ros-kilted-ros-workspace
Description: flexbe_widget implements some smaller scripts for the behavior engine.
