Source: ros-rolling-flexbe-onboard
Section: misc
Priority: optional
Maintainer: Philipp Schillinger <philsplus@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-rolling-ament-copyright <!nocheck>, ros-rolling-ament-flake8 <!nocheck>, ros-rolling-ament-pep257 <!nocheck>, ros-rolling-flexbe-core, ros-rolling-flexbe-msgs, ros-rolling-flexbe-states, ros-rolling-launch-ros, ros-rolling-launch-testing <!nocheck>, ros-rolling-rclpy, ros-rolling-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: http://ros.org/wiki/flexbe_core
Standards-Version: 3.9.2

Package: ros-rolling-flexbe-onboard
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-rolling-flexbe-core, ros-rolling-flexbe-msgs, ros-rolling-flexbe-states, ros-rolling-launch-ros, ros-rolling-rclpy, ros-rolling-ros-workspace
Description: flexbe_onboard implements the robot-side of the behavior engine from where all behaviors are started.
