Source: ros-rolling-flexbe-core
Section: misc
Priority: optional
Maintainer: Philipp Schillinger <philsplus@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-rolling-ament-copyright <!nocheck>, ros-rolling-ament-flake8 <!nocheck>, ros-rolling-ament-pep257 <!nocheck>, ros-rolling-flexbe-msgs, ros-rolling-launch-ros <!nocheck>, ros-rolling-launch-testing <!nocheck>, ros-rolling-rclpy, ros-rolling-std-msgs, ros-rolling-std-srvs, ros-rolling-tf2-ros-py, ros-rolling-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: http://ros.org/wiki/flexbe_core
Standards-Version: 3.9.2

Package: ros-rolling-flexbe-core
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-rolling-flexbe-msgs, ros-rolling-rclpy, ros-rolling-std-msgs, ros-rolling-std-srvs, ros-rolling-tf2-ros-py, ros-rolling-ros-workspace
Description: flexbe_core provides the core components for the FlexBE behavior engine.
